<div class="wrapper">
    <div class="loader" *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <ng-container>
      <div class="row" *ngFor="let config of configurations">
        <div class="text">{{config.name}}</div>
        <div class="options">
          <button mat-mini-fab color="default" (click)="openCreateConfigModal(config)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="deleteConfig(config)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="openCreateConfigModal(null)" class="addButton">
        Konfiguration erstellen <mat-icon>add</mat-icon>
      </button>
    </ng-container>
</div>