<h1 mat-dialog-title>Konfiguration {{isEdit ? "bearbeiten" : "erstellen"}}</h1>
<div mat-dialog-content>
  <div class="loader" *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="forms" *ngIf="initialLodingComplete">
    <div class="total">
        Gesamtpreis: {{totalPrice|currency:'EUR':true}}
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name der Konfiguration" [(ngModel)]="currentConfiguration.name" [disabled]="isLoading">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Basismodel</mat-label>
        <mat-select [disabled]="isLoading" [(ngModel)]="currentConfiguration.carId" (selectionChange)="calculateTotal()">
          <mat-option *ngFor="let car of cars"
            [value]="car.id">{{car.className}} {{car.modelName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Leistungs-Kit</mat-label>
        <mat-select [disabled]="isLoading" [(ngModel)]="currentConfiguration.performanceConfigurationId" (selectionChange)="calculateTotal()">
          <mat-option *ngFor="let performanceConfiguration of performanceConfigurations"
            [value]="performanceConfiguration.id">{{performanceConfiguration.configName}} ({{performanceConfiguration.power}} kWh)</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Farbe</mat-label>
        <mat-select [disabled]="isLoading" [(ngModel)]="currentConfiguration.colorConfigurationId" (selectionChange)="calculateTotal()">
          <mat-option *ngFor="let colorConfiguration of colorConfigurations"
            [value]="colorConfiguration.id">{{colorConfiguration.colorName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Extras</mat-label>
        <mat-select [(ngModel)]="currentConfiguration.additionalConfigurationsIds" [disabled]="isLoading" multiple (selectionChange)="calculateTotal()">
          <mat-select-trigger>
            {{getFirstItemName()}}
            <span *ngIf="currentConfiguration.additionalConfigurationsIds.length > 1" class="additional-selection">
              (+{{currentConfiguration.additionalConfigurationsIds.length - 1}}
              {{currentConfiguration.additionalConfigurationsIds.length === 2 ? 'weiteres' : 'weitere'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let additionalConfiguration of additionalConfigurations"
            [value]="additionalConfiguration.id">{{additionalConfiguration.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button mat-raised-button cdkFocusInitial [disabled]="isLoading" (click)="save()" color="primary">{{isEdit ? "Speichern" : "Erstellen"}}</button>
</div>
